h1{
  text-align: center;
 color: blue;
   -webkit-text-fill-color: #117cc7; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   font-size:6em;
   margin-bottom: 0;
   margin-top: 0;
}

.container{
  background: url("zodiaccircle.png");
  background-size: cover;
  height: calc( 100vh - 65px);
}

.info{
  padding: 10.5em 10.5em 0 10.5em ;
}

/*http://www.indiaparenting.com/zodiac/zodiaccircle.jpg*/