h1{
  text-align: center;
   color: black;
   margin-top: 50px;
}

.info{

    /* background: url('solar-eclipse_1024.jpg') no-repeat;
    background-size:contain;
    width:100%;
    height:0;
    padding-top:24.45%; */
   /* THE ABOVE ALLOWS THE BACKGROUND IMAGE TO BE DISPLAYED IN PORTION TO ITS WIDTH AND HEIGHT
   IT IS DISPLAYED IN IT'S TOTALITY INSIDE OF THE PADDING CREATED BY IT'S WIDTH HEIGHT '415/1934*100  
   IT DOES HAVE SOME LIMITATIONS AS THE DIV WILL BE USELESS */
}

img{
  width:100%
}

@media only screen and (min-width: 940px) {
	h1 {
		font-size:3vw;
		margin-top:20px;
		margin-bottom:30px
    
	}
}
