.login-box{
    text-align:center;
}
.about-us{
    text-align:center;
}

.aboutUs {
   width:60%;
   margin:auto
}
.come-heading {
    margin-bottom:50px;
}


.email {
    margin-left:45px;
}

.cpassword {
    margin-left:-60px;
    display:inline-block
}

.signup-outter-box {
    margin:auto
}

.password1 {
    margin-left:7px
}

@media (min-width: 720px){
    .login-button {
        font-size:25px;
    }
    .start-button{
        font-size:25px;
    }
}

@media(min-width:1020px) {
    .login-botton{
        font-size:2vw;
    }
}
@media (min-width:1580px) {
    .aboutUs {
        width:40px
    }
}

@media(min-width:1199px) {
    .signup-form {
        margin-top:60px;
    }
}

@media (max-width: 425px){
   .form-group1 {
    margin:auto;
   }

   .signup-form {
        width:70%;
        margin:auto;
        display:inline-block;
        margin-top:50px
   }

   .email {
    margin:auto;
    }

    .cpassword {
        margin:auto;

    }


    .password1 {
        margin:auto;
    }
}