.login-box{
    text-align:center;
}
.about-us{
    text-align:center;
}


.come-heading {
    margin-bottom:50px;
}

.email {
    margin-left:38px;
}

.cpassword {
    margin-left:-55px;
    display:inline-block;
    margin-bottom:10px
}
.login-span {
    color:#117cc7
}

.signup-outter-box {
    margin:auto;
    text-align:center,
}

.password1 {
    margin-left:7px;
    margin-bottom:10px;
}

.pure-control-group {
    margin-bottom:10px;
}

.form-group1 {
    margin-left:33px;
    margin-bottom:15px;
}
.login-button {
        font-size:25px;
    }
@media only screen and (min-width: 720px){
    
    .start-button{
        font-size:25px;
    }
}

@media only screen and (min-width:1580px) {
    .aboutUs {
        width:40px
    }
}

@media only screen and (min-width:1199px) {
    .signup-form {
        margin-top:60px;
    }
    
}

@media only screen and (max-width: 425px){
   .form-group1 {
    margin:auto;
   }

   .signup-form {
        width:70%;
        margin:auto;
        display:inline-block;
        margin-top:50px
   }

   .email {
    margin:auto;
    }

    .cpassword {
        margin:auto;

    }


    .password1 {
        margin:auto;
    }
}


@media only screen and (max-width: 540px){
    .signup-outter-box {
        text-align:center;
    }

    
}

h1.one {
    margin-bottom:21.44px
}

.aboutUs {
    width:55%;
    margin:auto
 }

 .btn {
    margin-top:15px;
    margin-bottom:50px;
}