a{
      color:white;
}

.navigation-bar {
	/*text-align: center;*/
	background-color: #e97726;
	text-align: right;
	padding: 1px 0;
	/*position: relative;*/
  
}

li{
      display: inline-block;
      list-style: none;
      /*float: right;*/
      margin: .4em;

      
}